/* .container{
    padding: 5px;
} */

.game-container{    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.endgame-submission {
    padding: 16px 20px 20px;
    border-radius: 9px;
    box-shadow: 0 0 22px 0 #000433;
    background: #fff;
    width: 350px;
    /* position: absolute;
    top: 27%;
    right: 26%; */
}
.btnSubmit{
    border-radius: 17.5px;
    border: solid 0.7px #05050c;  
    background-color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #05050c;
}
.leader-board{
    width: 350px;
    padding: 45px 34px 45px;
    background-color: #fff;
    border: 1px solid;
    border-radius: 60px;
    display: none;
    position: absolute;
    top: 10%;
    left: 31%;
}
.leader-board .leader-board-row:first-child{
    background: #f2b12a;
    padding: 7px;
    border-radius: 5px;
}
.leader-board .leader-board-row:not(:first-child){
    background: #fbe2c2;
    margin: 7px 0px;
    padding: 7px;
    border-radius: 5px;
}
.homescreen-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnPlay{
    width: 140px;
    height: 50px;
    padding: 13px 10px 12px 10px;
    border-radius: 25px;
    border: solid 1px #05050c;
    background-color: #fff;
    font-weight: bold;
    margin-top: 15px; 
}
.btnLeaderBoard{
    margin-top: 15px;
    width: 200px;
    height: 50px;
    padding: 13px 10px 12px 10px;
    border-radius: 25px;
    border: solid 1px #05050c;
    background-color: #fff;
    font-weight: bold;
}

.swipeToShoot{
    color: #fff;
    margin-top: 20px;
    font-size: 28px;
}

.titleImg{
    
    height: 16%;
    max-height: 150px;
}
.swipeImg{
    height: 42px;
    margin-top: 10px;
}

.canonImg{
    height: 100px;
    margin-top: 20px;
}
.backToMainMenu{
    width: 170px;
    height: 50px;
    padding: 13px 25px 15px 22px;
    border-radius: 25px;
    border: solid 1px #05050c;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    position: absolute;
    bottom: 30%;
    left: 43%;
    display: none;
}
.goToPlayCent{
    width: 180px;
    height: 50px;
    padding: 13px 10px 15px 10px;
    border-radius: 25px;
    border: solid 1px #05050c;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    position: unset;
    
    text-decoration: none;
    cursor: pointer;
}
.goToPlayCent:hover{
    color:#fff;
}
.checkPageText{
    color: #fff;
    font-weight: bold;
    font-size: 28px;
    position: unset;
    margin-top: 20px;
    margin-bottom: 20px;
}
.endScreenElements{
    display: none;
    position: absolute;
    top:0;
    width: 100%;
}
.btnPlayAgain{
    width: 160px;
    height: 50px;    
    padding: 13px 10px 12px 10px;  
    border-radius: 25px;  
    border: solid 1px #05050c;  
    background-color: #fff;
    position: unset;
    /* 
    bottom:31%;
    left:42.5%; */
    font-weight: bold;
    cursor: pointer;
    margin:20px 0px;
}
.yourScoreText{
    -webkit-text-stroke: 1px fff;
    color: #100b51;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    /* position: absolute;
    top: 10%;
    left: 38%;
    font-size: 35px; */
}
.gameScreenElements{
    display: none;
}
.score{
    color: #100b51;
    -webkit-text-stroke: 1px fff;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    /* position: absolute;
    top: 18%;
    left: 49%; */
    font-size: 45px;
}
.sound{
    background:none;
    outline: none;
    border: none;
    position: absolute;
    top:5%;
    height: 45px;
    right: 2%;
}
.sound img{
    max-height: 100%;
}
.timer{
    position: absolute;
    top: 52px;
    color: #000;
    right: 26%;
    font-weight: bold;
}
@supports (-webkit-text-stroke: 1px black) {
    h1 {
      -webkit-text-stroke: 1px black;
      -webkit-text-fill-color: #100b51;
    }
  }

/* Min-width */
@media only screen and (max-width: 1366px)  {
    .backToMainMenu{
        bottom: 5%;
        left: 35%;
    }
    .leader-board{
        top: 10%;
        left: 20%;
    }
    .endgame-submission{
        right: 20%;
        width: 304px;
        margin-bottom: 20px;
    }
    .homescreenElement{
        position: absolute;
        top: 7%;
        width: 100%;
    }
    .btnPlayAgain {
        width: 160px;
        height: 50px;
        padding: 13px 10px 12px 10px;
        border-radius: 25px;
        border: solid 1px #05050c;
        background-color: #fff;
        position: unset;
        /* bottom: 16%;
        left: 38.5%; */
        font-weight: bold;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .checkPageText {
        color: #fff;
        font-weight: bold;
        font-size: 22px;
        
        position: unset;
        margin-bottom: 20px;
        /* bottom: 9.5%;
        left: 27%; */
    }
    .endScreenElements{
        top:1%;
    }
    .goToPlayCent {
        width: 180px;
        height: 50px;
        padding: 13px 10px 15px 10px;
        border-radius: 25px;
        border: solid 1px #05050c;
        background-color: #000;
        color: #fff;
        font-weight: bold;
        position: unset;
        /* 
        bottom: 2%;
        left: 37%; */
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .sound{
        background:none;
        outline: none;
        border: none;
        position: absolute;
        top:5%;
        height: 36px;
        right: 1%;
    }
    .timer{
        position: absolute;
        top: 36px;
        color: #000;
        right: 31%;
        font-weight: bold;
    }
}

/* Max-width */
@media only screen and (max-width: 420px)  {
    .container{
        padding: 5px 0px;
    }
    .titleImg {
        position: absolute;
        top: 10%;
        right: 14.5%;
        height: 114px;
    }
    .btnPlay {
        width: 140px;
        height: 50px;
        padding: 13px 10px 12px 10px;
        border-radius: 25px;
        border: solid 1px #05050c;
        background-color: #fff;
        position: absolute;
        top: 35%;
        right: 27%;
        font-weight: bold;
    }
    .btnLeaderBoard {
        width: 200px;
        height: 50px;
        padding: 13px 10px 12px 10px;
        border-radius: 25px;
        border: solid 1px #05050c;
        background-color: #fff;
        position: absolute;
        top: 45%;
        right: 19.5%;
        font-weight: bold;
    }
    .swipeToShoot {
        color: #fff;
        position: absolute;
        bottom: 34%;
        right: 19%;
        font-size: 25px;
    }
    .swipeImg {
        position: absolute;
        bottom: 27%;
        right: 43.5%;
        height: 42px;
    }
    .canonImg {
        position: absolute;
        bottom: 8%;
        right: 38.5%;
        height: 100px;
    }

    .yourScoreText {
   

        -webkit-text-stroke: 1px fff;
        color: #100b51;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
        position: absolute;
        top: 10%;
        left: 22%;
        font-size: 35px;
    }
    .score {
    

        color: #100b51;
        -webkit-text-stroke: 1px fff;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
        position: absolute;
        top: 18%;
        left: 41%;
        font-size: 45px;
    }
    .endgame-submission {
        padding: 16px 20px 20px;
        border-radius: 9px;
        box-shadow: 0 0 22px 0 #000433;
        background: #fff;
        width: 295px;
        position: absolute;
        top: 30%;
        right: 8%;
    }
    .btnPlayAgain {
        width: 160px;
        height: 50px;
        padding: 13px 10px 12px 10px;
        border-radius: 25px;
        border: solid 1px #05050c;
        background-color: #fff;
        position: unset;
        bottom: 21%;
        left: 31.5%;
        font-weight: bold;
        cursor: pointer;
    }
    .checkPageText {
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        bottom: 14.5%;
        left: 11%;
    }
    .goToPlayCent {
        width: 180px;
        height: 50px;
        padding: 13px 10px 15px 10px;
        border-radius: 25px;
        border: solid 1px #05050c;
        background-color: #000;
        color: #fff;
        font-weight: bold;
        position: absolute;
        bottom: 6%;
        left: 29%;
        text-decoration: none;
        cursor: pointer;
    }
    .sound {
        background: none;
        outline: none;
        border: none;
        position: absolute;
        top: 5%;
        height: 28px;
        right: 11%;
    }
}


